.AddUser form {
    position: absolute;
    top: 25%; 
    left: 0; right: 0;
    z-index: 11;
    margin: 0 auto;
    width: 700px;
    padding: 20px;
    border-radius: 6px;
    text-align: end;
    background: var(--white);
}

.AddUser form .box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px 15px;
    border: 1px solid var(--gray);
    border-radius: 6px;
    position: relative;
}

.AddUser form .box:hover {
    border: 1px solid var(--violet);
}

.AddUser form .box p {
    font-weight: 300;
}

.AddUser form .box p span.required {
    color: var(--red);
}

.AddUser form .box input {
    position: absolute;
    left: 130px;
    width: 70%;
    padding-left: 20px;
    font-weight: 300;
    font-size: 1rem;
    color: var(--gray);
    background: none;
    outline: none;
    border: none;
    border-left: 1px solid var(--slate);
}

.AddUser form .box input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.AddUser form input[type=submit] {
    margin-top: 10px;
}