.Controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.Controls form {
    display: flex;
    gap: .4rem;
}

.Controls .searchInput {
    display: block;
    padding: 0 10px;
    border-radius: 6px;
    color: var(--blue);
    border: 1px solid;
    transition: clip-path 0.5s ease-in-out;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

.Controls .searchInput.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.Controls .searchInput::placeholder {
    color: var(--gray);
}

.Controls .searchInput::-webkit-search-cancel-button {
    cursor: pointer;
}

.Controls button i {
    margin-left: 7px;
}

.Controls .filterUsersBtn {
    display: flex;
    gap: .4rem;
}