@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: all .1s linear;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #ff4d4f;
    --blue: #1677ff;
    --white: #ffffff;
    --violet: #4F56FF;
    --orange: #ffa500;
    --slate: #ced5dd;
    --gray: #708090;
    --lightRed: #ff6e71;
    --lightBlue: #3c8bfa;
    --lightViolet: #6166fd;
    --lightGray: #d7dde3;
    --darkGray: #0f1011a2;
    --lightGrayAlpha: #d6dee080;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
